@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$grayish-blue: hsl(246, 25%, 77%);
$blanco: rgb(255,255,255);
$dark-blue: hsl(249, 10%, 26%);
$green:hsl(154, 59%, 51%);
$red: hsl(0, 100%, 74%);
$blue: hsl(248, 32%, 49%);

* {
  font-family: 'Poppins', sans-serif;
}

html {
  background-image: url(./images/bg-intro-mobile.png);
  background-size: 1 / 3 * 100%;
  background-color: $red;
}

.contenedor-1 {
  padding-top: 20px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  color: $blanco;
  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
  p {
    text-align: center;
    font-size: 20px;
  }
}

.contenedor-2 {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  .contenedor-2__contenedor1{
    background-color: $blue;
    padding: 4px 0;
    border: 10px $blue solid;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.3);
    p{
      color: $blanco;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .contenedor-2__contenedor2{
    background-color: $blanco;
    padding: 40px 10px;
    border: 10px $blanco solid;
    border-radius: 10px;
    form {
      text-align: center;
      input {
        border: 2px $grayish-blue solid;
        border-radius: 5px;
        width: 350px;
        height: auto;
        font-size: 20px;
        padding: 10px 0;
        margin: 10px 0;
      }
      .boton {
        padding: 15px 30px;
        background-color: $green;
        color: $blanco;
        font-size: 18px;
        border: 5px solid $green;
        border-radius: 10px;
        margin-top: 20px;
      }
    }
    p {
      text-align: center;
      color: $grayish-blue;
      #span1 {
        color: $red;
      }
    }
  }
}


.attribution {
  width: auto;
  font-size: 11px;
  margin: 40em auto 2em auto;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
